$brand: rgb(221, 68, 36);

@import 'typography';

body {
  padding: 0;
  margin: 1em;
  background-color: #DDD;
  color: #333;

}

h1, h2, h3, h4 {
  color: $brand;
  a {
    color: inherit;
    text-decoration: none;
  }
}

li {
  display: inline-block;
  list-style-type: none;
  margin-right: 1em;
}

a {
  color: #555;
  text-decoration: underline;
}

img {
  width: auto;
  max-width: 90%;
  max-height: 65vh;
  margin-bottom: 1em;
}
