@import 'typography';
@import 'orange-theme';

li {
  list-style-type: none;
  margin-right: 1em;
  line-height: 1.8;
}

img {
  display: block;
  margin: auto;;
  max-width: 95%;
  max-height: 85vh;
  margin-bottom: 1.5em;
}

pre {
  margin: 1em 0;
}
