@import 'colours';
@import 'typography';
@import 'layout';
@import 'orange-theme';

$link_colour: #333;

a {
  color: $link_colour;
}

li {
  display: inline-block;
  list-style-type: none;
  margin-right: 1em;
}

img {
  display: block;
  margin: auto;;
  max-width: 95%;
  max-height: 85vh;
  margin-bottom: 1.5em;
}

pre {
  padding: 2em 0;
  margin: 3em 0;
  border: .3em solid #f0f0f0;
  border-style: solid none;
  background-color: #fff;
}
