// Colors
$code: #333;
$operator: #f00;
$subtle: #aaa;
$comment: #999;
$value: #401bc3;

$code-background:          transparent;
$code-color:               $code;
$code-color-fade:          $subtle;
$code-text-shadow:         none;
$code-box-shadow:          none;
$code-border:              none;

$code-color-comment:       $comment;
$code-color-keyword:       $operator;
$code-color-value:         $value;
$code-color-string:        $value;
$code-color-name:          $code;
$code-color-number:        $operator;
$code-color-variable:      $value;
$code-color-selector:      #a6e22d;

$code-tab-size:            2;
$code-font-size:           18px	!default;
$code-line-height:	     	 1.7;

@import "prism";
