@import 'functions';
@import 'colours';

$oswald: 'Oswald';
$lato: 'Lato';
$pt: 'PT Mono';
$roboto: 'Roboto Mono';
$rubik: 'Rubik';
$questrial: 'Questrial';
$playfair: 'Playfair Display';
$pmarker: 'Permanent Marker';

//$fonts:
@include gwf(
  $oswald,
  $lato,
  $pt,
  $roboto,
  $rubik,
  $pmarker,
  $questrial
)

$title-font: $roboto, sans-serif;
$body-font: $roboto, sans-serif;
$monospaced-font: $pt, monospace;

html {
  font-family: $body-font;
  font-size: 1.25em;
}

body {
  font-weight: 300;
  line-height: 1.65;
}

p {
  // letter-spacing: -1px;
}

code[class*="language-"],
pre[class*="language-"] {
  font-family: $monospaced-font;
  line-height: 1.4;
}

// Headings
h1, h2, h3 {
  font-family: $title-font;
  letter-spacing: -2px;
  font-weight: 800;
}

h2, h3 {
  font-family:$body-font;
  // text-transform: uppercase;
}

h1 {
  font-size: 3.998em;
}

h2 {
  font-size: 1.827em;
}

h3 {
  font-size: 1.414em;
  border-left: .5em solid $brand;
  padding-left: 1em;
}

ul, ol {
  -webkit-padding-start: 0;
}

p {
  margin-bottom: 1em;
}

ul, ol {
  -webkit-padding-start: 0;
}

