@import url('https://fonts.googleapis.com/css?family=Lora|Open+Sans');

h1, h2, h3, h4 {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  a {
    color: inherit;
    text-decoration: none;
  }
}

body {
  font-family: 'Lora', serif;
  background-color: #FFF;
  color: #333;
  padding-top: 5em;
}

a {
  color: #555;
  text-decoration: underline;
}

// Header
.header {
  // margin: 1em auto 2em;
  position: fixed;
  top: 1em;
  left: 1em;
  background-color: #FFF;
  padding: 5px;
}
.header__title {
  text-align: center;
  margin-bottom: 0;
}
